.hide {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

#hiddenWordTarget {
    width: 100%;
    display: block;
}



/*START INPUT FIELD ERROR*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*START MOBILE CSS

@media (max-width: 768px) {

    [name="importFile"] {
        max-width: 90%;

    }

}

/*end 768*/